

/* Responsive_CSS */

@media(max-width: 1199px) {}

@media(max-width: 991px) {
    .banner_title h1 {
        font-size: 40px;
    }

    .feature_content img {
        height: 70px;
    }

    .feature_content span {
        margin: 15px 0;
    }

    .steps_icon {
        margin-top: 30px;
    }

    .steps_content {
        margin-top: 25px;
    }
    .steps h2 {
        font-size: 18px;
    }

    .steps h2::before {
        top: 35px;;
    }

    .steps_content h3 {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .steps_content p {
        font-size: 13px;
    }

    .steps_icon span {
        width: 50px;
        height: 50px;
    }

    .counter_content h1 {
        font-size: 40px;    
        margin-bottom: 15px;
    }

    .counter_content span {
        font-size: 14px;
    }

    .circle_content img {
        margin-top: 130px;
        width: 30%;
    }

    .circle span {
        width: 50px;
        height: 50px;
    }

    .circle i {
        top: 15px;
        left: 18px;
        font-size: 18px;
    }

    .circle p {
        margin-top: 10px;
        margin-left: -25px;
        font-size: 16px;
    }

    .team_person img {
        width: 100%;
    }

    .blog_content ul li span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        top: 150px;
        left: 4px;
    }

    .blog_content h5 {
        font-size: 14px;
        padding: 15px;
        padding-bottom: 5px;
        line-height: 22px;
    }

    .blog_content p {
        font-size: 14px;
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .p {
        font-size: 16px;
    }

    .footer_logo img {
        margin-bottom: 30px;
        width: 75%;
    }

    .footer_logo p {
        color: #989898;
        font-size: 14px;
        margin-bottom: 20px;
        text-align: left;
    }

    .footer_address ul li {
        margin-bottom: 20px;
    }

    .footer_menu ul {
        padding-left: 0;
    }

    .footer_logo ul li a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
    }

    .footer_newsletter input {
        padding: 0 8px;
        height: 35px;
    }

    .footer_newsletter strong {
        color: var(--white);
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        right: -28px;
        bottom: 0px;
    }
}

@media(max-width: 767px) {
    .header_left p {
        font-size: 10px;  
    }

    .banner_section {
        padding: 140px 0;
    }

    .banner_title h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .banner_content h4 {
        font-size: 18px;
    }

    .banner_content span {
        font-size: 13px;
    }

    .banner_section ul li a {
        font-size: 14px;
    }

    .feature_section {
        padding: 60px 0;
    }

    .feature_content {
        margin-bottom: 30px;
    }

    .service_section {
        padding: 60px 0;
    }

    .service_content h2 {
        font-size: 22px;
    }

    .service_content p {
        max-width: 430px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .service_content span {
        width: 60px;
    }

    .steps h2 {
        font-size: 16px;
        line-height: 25px;
    }

    .steps h2::before {
        top: 55px;
    }

    .steps_icon span {
        width: 35px;
        height: 35px;
    }

    .counter_section {
        padding: 60px 0;
    }

    .counter_content h1 {
        font-size: 30px;
    }

    .counter_content span {
        font-size: 10px;
    }

    .circle_section {
        padding: 60px 0;
    }

    .circle_content img {
	    margin-top: 110px;
	    width: 40%;
    }

    .circle span {
        width: 40px;
        height: 40px;
    }

    .circle i {
        top: 12px;
        left: 13px;
        font-size: 15px;
    }

    .circle2 {
        top: 0;
        right: 10%;
    }

    .circle4 {
        top: 45%;
        right: -5%;
    }

    .circle5 {
        top: 102%;
        left: 23%;
    }

    .circle6 {
        top: 102%;
        right: 10%;
    }

    .table_section {
        padding: 60px 0;
    }

    .table_content h2 {
        font-size: 22px;
    }

    .table_content span {
        width: 60px;
    }

    .blog_content ul li span {
        top: 175px;
        left: 10px;
    }

    .footer_logo {
        margin-bottom: 50px;
    }

    .footer_logo img {
        margin-bottom: 20px;
        width: 55%;
    }

    .span {
        margin-bottom: 15px;
    }

    .p {
        margin-bottom: 15px;
    }

    .footer_newsletter strong {
        right: 60px;
    }

    .bottom_menu ul li a {
        font-size: 12px;
    }
}


@media(max-width: 575px) {
    .navbar {
        padding: 15px;
    }

    .navbar-brand img {
        width: 80%;
    }

    .banner_section {
        padding: 80px 0;
    }

    .banner_title h1 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .banner_content h4 {
        font-size: 16px;
        font-weight: 600;
    }

    .banner_section ul {
        padding-left: 0;
        margin-top: 35px;
    }

    .banner_section ul li a {
        padding: 7px 14px;
    }

    .feature_content {
        max-width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }

    .service_content h2 {
        font-size: 20px;
    }

    .service_content p {
        max-width: 360px;
        margin-top: 10px;
        margin-bottom: 15px;
        line-height: 24px;
    }

    .service_box {
        max-width: 340px;
        margin: auto;
        margin-top: 40px;
    }

    .service_button a {
        padding: 8px 18px;
        font-size: 12px;
        margin-top: 45px;
    }

    .iphone_steps {
        text-align: center;
    }

    .steps {
        margin-top: 40px;
        text-align: center;
    }

    .steps h2 {
        font-size: 18px;
        line-height: 25px;
    }

    .steps h2::before {
        top: 35px;
        left: 92px;
    }

    .steps_icon {
        margin-top: 40px;
        text-align: center;
    }

    .steps_icon span {
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .steps_content {
        margin-top: 30px;
    }

    .counter_content {
        margin-bottom: 25px;
    }

    .counter_content h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .circle4 {
        top: 45%;
        right: 0%;
    }

    .circle p {
        font-size: 14px;
    }

    .team_person {
        max-width: 340px;
        margin: auto;
        margin-top: 40px;
    }

    .table_content h2 {
        font-size: 20px;
    }

    .table_form input {
        height: 40px;
        padding: 0 10px;
    }

    .submit_button a {
        padding: 8px 24px;
    }

    .blog_content {
        max-width: 340px;
        margin: auto;
        margin-top: 40px;
    }

    .blog_content ul li span {
        top: 250px;
    }

    .footer_newsletter strong {
        right: 78px;
    }
}
@media(max-width: 440px) {
    .banner_title h1 {
        font-size: 26px;
    }

    .banner_section ul li a {
        font-size: 12px;
    }

    .circle p {
        font-size: 12px;
    }

    .circle_content img {
        margin-top: 95px;
    }

    .team_person span {
        font-size: 12px;
    }

    .p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .span {
        height: 2px;
        width: 35px;
    }

    .footer_newsletter input {
        padding: 0 8px;
        height: 35px;
        width: 85%;
    }

    .footer_newsletter strong {
        right: 29px;
    }



}

@media(max-width: 380px) {
    .banner_title h1 {
        font-size: 22px;
    }

    .feature_content span {
        font-size: 16px;
        margin: 12px 0;
    }

    .feature_content p {
        font-size: 12px;
    }

    .service_content h2 {
        font-size: 18px;
    }

    .service_content span {
        width: 50px;
    }

    .service_content p {
        font-size: 13px;

    }

    .service_box p {
        font-size: 13px;
        line-height: 24px;

    }

    .steps h2 {
        font-size: 16px;
    }

    .steps h2::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background: none;
    }

    .steps_content h3 {
        font-size: 15px;
    }

    .steps_content p {
        font-size: 12px;
    }

    .circle span {
        width: 30px;
        height: 30px;
    }

    .circle i {
        top: 9px;
        left: 10px;
        font-size: 12px;
    }

    .circle p {
        font-size: 10px;
    }

    .table_content h2 {
        font-size: 18px;
    }

    .table_content span {
        width: 50px;
    }

    .footer_newsletter input {
        padding: 0 0px;
    }

    .footer_newsletter input {
        padding: 0 0px;
        height: 35px;
        width: 85%;
    }

    .footer_newsletter strong {
        right: 23px;
    }
}

@media(max-width: 300px) {}