
body{}


   
:root{
    --Montserrat: 'Montserrat', sans-serif;
    --Raleway: 'Raleway', sans-serif;  
    --color: #efefef; 
    --white: #fff;
    --theme-color: #ff9b1a;
    --bold: 700;
    --extra: 800;
    --UPPERCASE: uppercase;
    --transition: all .4s ease-in-out; 
}


p{
    margin-bottom: 0;
}


/* Header_Section_CSS */

.top_header {
	background: var(--color);
	padding: 8px;
}

.header_left{}
.header_left p{
    color:  #7f7f7f;
    font-family: var( --Montserrat);
    font-size: 12px;
    transition: var(--transition);
}

.header_left p:hover{
    color: #333;
}

.header_right{}
.header_right ul{
    padding-left: 0;
}
.header_right ul li{
    list-style: none;
}
.header_right ul li a {
	text-decoration: none;
	display: inline-block;
	text-transform: var(--UPPERCASE);
	color: #7f7f7f;
	font-family: var( --Montserrat);
	font-size: 12px;
	padding: 0px 15px;
    font-weight: 500;
    transition: var(--transition);
}
.header_right ul li a:hover{
    color: #333;
}


.bottom_header{}

.navbar {
	background: var(--white);
	align-items: center;
	padding: 24px;
	
}

.navbar-light .navbar-nav .nav-link {
	color: #161616;
	font-size: 14px;
	text-transform: var(--UPPERCASE);
	padding: 10px 12px;	
    border-radius: 30px;
    transition: var(--transition);
    font-weight: 500;
    font-family: var(--Montserrat);
}

.navbar-light .navbar-nav .nav-link:hover{
    background: var(--theme-color);
    color: var(--white);
}

.btn_custom{
    background: var(--theme-color);
    color: var(--white) !important;
    text-transform: var(--UPPERCASE);
	padding: 10px 14px;	
    border-radius: 30px;
    transition: var(--transition);
    cursor: pointer;
    text-decoration: none;
}
.btn_custom:hover{
  
}


/* Banner_Section_CSS */

.banner_section{
    background: url(../img/banner.png) no-repeat center center;
    background-size: cover;
    padding: 180px 0;
    position: relative;
    z-index: 1;
}

.overly{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba( 0, 0, 0, .6);
    z-index: -1;
}

.banner_title {}
.banner_title h1{
    color: var(--color);
    font-family: var(--Raleway);
    font-size: 52px;
    font-weight: var(--extra);
    margin-bottom: 40px;
}

.banner_content{
    font-family: var(--Raleway);
    text-align: center;
}

.banner_content h4 {
	font-size: 20px;
	font-weight: var(--bold);
    color: var(--color);   
}

.banner_content span {
	display: block;
	font-size: 14px;
    color: var(--color);
}

.btn_reverse{
    color: var(--color);
    border: 1px solid var(--color) !important;
    background: none;   
}

.btn_reverse:hover{
    background: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

.banner_section ul{
    padding-left: 0;
    margin-top: 50px;
}
.banner_section ul li{
    padding: 0 10px;
}
.banner_section ul li a{
    padding: 10px 20px;
    text-transform: var(--UPPERCASE);
    font-family: var(--Montserrat);
    font-size: 16px;
    border: 1px solid var(--theme-color);
    transition: var(--transition);
    cursor: pointer;
}

.banner_section ul li a:hover{
    background: none;
    border: 1px solid var(--color);
}



/* Feature_Content-CSS */

.feature_section{
    padding: 80px 0;
}

.feature_content{
    padding: 40px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    position: relative;
    z-index: 1;  
    transition: var(--transition);
    cursor: pointer; 
}

.feature_content:hover span, .feature_content:hover p{
    color: var(--color); 
}

.feature_content:hover img{
    filter: sepia(1)
}

.feature_content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(.5);
    transition: var(--transition);
    cursor: pointer;        
    background: #ff6f02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d9b303, #ff6f02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #d9b303, #ff6f02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -1;

}

.feature_content:hover::before{
    opacity: .88;
    transform: scale(1);
}

.feature_content::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(.5);
    background: url(../img/bitcoin.png) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    z-index: -2;
    transition: var(--transition);
    cursor: pointer;
}
.feature_content:hover::after{
    opacity: 1;
    transform: scale(1);
}
.feature_content img{
    color: #e16702;
    height: 110px;
}
.feature_content span {
	display: block;
	color: #000 ;
	font-size: 17px;
	font-weight: 500;
	font-family: var(--Montserrat);
	margin: 25px 0;
}


.feature_content p {
	font-size: 14px;
	font-family: var(--Montserrat);
	font-weight: 400;
	color: #545454;
}


/* Service_Section_CSS */

.service_section{
    padding: 80px 0;
    background: #fafafa;
}

.service_content{}
.service_content h2{
    font-size: 24px;
    font-family: var(--Montserrat);
    font-weight: var(--bold);
    color: #2b2b2b;
    text-transform: var(--UPPERCASE);
}
.service_content p{
    color: #6e6e6e;
    font-family: var(--Montserrat);
    font-size: 14px;
    max-width: 520px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 28px;
}
.service_content span{
    display: block;
    height: 3px;
    width: 70px;
    background: #fb8f2c;
    margin: auto;
}

.service_box{
    margin-top: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    transition: var(--transition);
    cursor: pointer;
}

.service_box:hover {
	box-shadow: 2px 5px 20px 0 rgb(223, 222, 222);
    background: var(--white);
    border-color: var(--white);
    transform: translateY(5px);
}
.service_box img{

}
.service_box span{
    display: block;
    color: #2b2b2b;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    font-size: 18px;
    margin: 20px 0;
}
.service_box p{
    color: #424242;
    font-family: var(--Raleway);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.service_button a{
    color: #2b2b2b;
    font-family: var(--Raleway);
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #8e8e8e;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    text-transform: var(--UPPERCASE);
    margin-top: 80px;
    transition: var(--transition);
    cursor: pointer;
    
}
.service_button a:hover{
    color: var(--color);
    background: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
    transform: scale(1.1);
}


/* Steps_Section_CSS */

.steps_section{
    background: url(../img/slider.png) no-repeat center center ;
    background-size: cover;
    padding-top: 80px;
    position: relative;
    z-index: 1;
}

.iphone_steps{
    position: relative;
}
.iphone_steps img{}
.iphone_steps .logo{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
}

.steps{}
.steps h2{
    color: var(--white);
    font-size: 24px;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    text-transform: uppercase;
    position: relative;
}

.steps h2::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: var(--theme-color);
    top: 40px;
    left: 0;
}

.steps_icon{
    margin-top: 60px;
}
.steps_icon span{
    display: block;
    width: 70px;
    height: 70px;
    border: 2px solid var(--theme-color);
    transform: rotate(45deg);
    border-radius: 10px;
    animation: cholbe 10s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

@keyframes cholbe{
    from{
        transform: rotate(45deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.steps_content{
    margin-top: 60px;
}
.steps_content h3{
    color: var(--white);
    font-size: 18px;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    margin-bottom: 15px;
}
.steps_content p{
    color: var(--white);
    font-size: 14px;
    font-family: var(--Raleway);
    font-weight: 400;
    max-width: 470px;
    
}


/* Counter_Section_CSS */

.counter_section{
    padding: 80px 0;
    background: var(--theme-color);
}

.counter_content{}
.counter_content h1{
    color: var(--white);
    font-size: 50px;
    font-family: var(--Raleway);
    font-weight: var(--bold);
    margin-bottom: 20px;
}
.counter_content span{
    color: var(--white);
    font-size: 18px;
    font-family: var(--Raleway);
    text-transform: var(--UPPERCASE);
}



/* Circle_Section_CSS */

.circle_section{
    padding: 80px 0;
}

.circle_content{
    position: relative;
}
.circle_content img{
    margin-top: 80px;
}

.circle{
    position: relative;
    text-align: center;
}
.circle span{
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid var(--theme-color);
    border-radius: 10px;
    transform: rotate(45deg);
    transition: var(--transition);
    cursor: pointer;
}
.circle span:hover{
    transform: rotate(90deg);
}
.circle i {
	position: absolute;
	top: 20px;
    left: 22px;
    font-size: 18px;
	
}

.circle p {
	margin-top: 15px;
    margin-left: -20px;
    font-size: 18px;
    font-family: var(--Montserrat);
    color: #252525;
}

.circle1 {
	position: absolute;
	top: 0;
	left: 23%;
}
.circle1 span{
    border: 2px solid #f05154;
}
.circle1 i{
    color: #f05154;
}
.circle1 p{}

.circle2 {
    position: absolute;
    top: 0;
	right: 20%;	
}
.circle2 span{
    border: 2px solid #00aced;
}
.circle2 i{
    color: #00aced;
}
.circle2 p{}

.circle3 {
	position: absolute;
	top: 45%;
	left: 12%;
}
.circle3 span{
    border: 2px solid #77d37b;
}
.circle3 i{
    color: #77d37b;
}
.circle3 p{}

.circle4 {
    position: absolute;
    top: 45%;
	right: 10%;
	
}
.circle4 span{
    border: 2px solid #63cd68;
}
.circle4 i{
    color: #63cd68;
}
.circle4 p{}

.circle5 {
	position: absolute;
	top: 100%;
	left: 23%;
}
.circle5 span{
    border: 2px solid #77d2d6;
}
.circle5 i{
    color: #77d2d6;
}
.circle5 p{}

.circle6{
    position: absolute;
	top: 100%;
	right: 20%;
}
.circle6 span{
    border: 2px solid #f85554;
}
.circle6 i{
    color: #f85554;
}
.circle6 p{}


.team_content{
    margin-top: 180px;
}

.team_person{
    margin-top: 50px;
}

.team_person img{}
.team_person h3{
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Montserrat);
    margin-top: 30px;
}
.team_person span{
    display: block;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--Montserrat);
    text-transform: var(--UPPERCASE);
}



/* Table_Section_CSS */

.table_section{
    background: url(../img/slider2.png) no-repeat center center;
    background-size: cover;
    padding: 80px 0;
}

.table_content{
    margin-bottom: 50px;
}
.table_content h2{
    color: var(--white);
    font-size: 24px;
	font-family: var(--Montserrat);
    font-weight: var(--bold);
    text-transform: var(--UPPERCASE);
    margin-bottom: 20px;
}
.table_content span{
    display: block;
    height: 3px;
    width: 70px;
    background: #fb8f2c;
    margin: auto;
}

.table_form input {
	background: none;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	height: 45px;
	width: 100%;
	padding: 0 20px;
}


.textarea{
    margin-top: 40px;
}
.textarea textarea {
	background: none;
    color: #fff;
    border: 2px solid #fff;
	border-radius: 10px;
    width: 100%;
    padding: 20px;
}

.submit_button{
    margin-top: 50px;
}
.submit_button a {
	padding: 10px 30px;
}



/* Blog_Section_CSS */

.blog_section{
    padding: 80px 0;
}

.blog_content{
    margin-top: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    position: relative;
    transition: var(--transition);
    cursor: pointer;
}

.blog_content:hover{
   
}
.blog_content img{
    width: 100%;
    position: relative;
}

.blog_content ul{}
.blog_content ul li{
    color: #6e6e6e;
    font-size: 12px;
    font-family: var(--Montserrat);
    margin-top: 5px;
    margin-right: 10px;
}

.blog_content ul li span{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    background: #f26c4f;
    border-radius: 50%;
    position: absolute;
    top: 255px;
    left: 20px;
}
.blog_content h5{
    font-size: 16px;
    color: #000;
    font-family: var(--Montserrat);
    font-weight: var(--bold);
    padding: 20px;
    padding-bottom: 10px;
    line-height: 26px;

}
.blog_content p{
    color: #6e6e6e;
    font-size: 14px;
    font-family: var(--Montserrat);
    padding: 0 20px;
    margin-bottom: 20px;

}


/* Feedback_Section_CSS */

.feedback_section{
    padding: 80px 0;
    background: #fafafa;
}

.feedback_content{
    margin-top: 60px;
    position: relative;
}
.feedback_content img{
    position: relative;
}

.feedback_content strong {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	top: 70px;
	left: 51%;
	color: #fff;
	background: #fb8f2c;
	border: 2px solid #fff;
	border-radius: 50%;
}

.feedback_content h3{
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--Montserrat);
    margin-top: 30px;
}
.feedback_content span{
    display: block;
    color: var(--theme-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--Montserrat);
    text-transform: var(--UPPERCASE);
    margin-top: 15px;
}


/* Footer_Section_CSS  */

.footer_top{
    background:  #101010;
    padding: 80px 0;
    border-top: 2px solid var(--theme-color);
    font-family: var(--Montserrat);
    font-weight: 500;
}


.p{
    font-size: 18px;
    color: #fff;
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: var(--UPPERCASE);
    margin-bottom: 20px;
}
.span{
    display: block;
    height: 3px;
    width: 40px;
    background: #fb8f2c;
    margin-bottom: 25px;
}

.footer_logo{}
.footer_logo img{
    margin-bottom: 30px;
}
.footer_logo p{
    color: #989898;
    font-size: 15px;
    text-align: justify;
   
    margin-bottom: 30px;
}
.footer_logo ul{
    padding-left: 0;
}
.footer_logo ul li{
    list-style: none;
    padding: 0 5px;

}
.footer_logo ul li a{
    text-decoration: none;
    display: inline-block;
    color: #3d3c3a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #3d3c3a;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
  
}
.footer_logo ul li a:hover{
    color: #00aced;
    border: 1px solid #00aced;
}


.footer_address{}

.footer_address ul{
    padding-left: 0;
}
.footer_address ul li{
    list-style: none;
    margin-bottom: 30px;
}
.footer_address ul li i{
    color: #989898;
    margin-right: 5px;
}
.footer_address ul li span{
    color: #989898;
    font-size: 14px;
    
}

.footer_menu{}
   
}
.footer_menu ul{
    padding-left: 0;
}

.footer_menu ul li {
	list-style: none;
	margin-top: 5px;
}

.footer_menu ul li a {
	text-decoration: none;
	display: inline-block;
	color: #989898;
    font-size: 14px;
    transition: var(--transition);

}
.footer_menu ul li a:hover{
    color: rgb(207, 197, 197);
}

.footer_newsletter{
    position: relative;
}

.footer_newsletter li{
    list-style: none;
    color: #989898;
    font-size: 14px;
    font-weight: 500;
}
.footer_newsletter input {
	margin-top: 30px;
    font-size: 12px;
    color: rgb(126, 119, 119);
	height: 40px;
	padding: 0 40px;
	border-radius: 30px;
    border: none;
    position: relative;
}
.footer_newsletter strong {
	color: var(--white);
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #fb8f2c;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	right: 13px;
	bottom: 0px;
}


.footer_bottom{
    background: #000000;
    padding: 20px 0;
}

.copyright{}
.copyright p{
    color: #504e4e;
    font-size: 12px;
    font-family: var(--Montserrat);
    font-weight: 500;
}

.bottom_menu{}
.bottom_menu ul{
    padding-left: 0;
}
.bottom_menu ul li{
    list-style: none;
    padding: 0 15px;
}
.bottom_menu ul li a {
	text-decoration: none;
	display: inline-block;
	color: #737272;
	font-size: 14px;
	font-family: var(--Montserrat);
	text-transform: var(--UPPERCASE);
    font-weight: 500;
    transition: var(--transition);
}

.bottom_menu ul li a:hover{
    color: rgb(207, 197, 197);
}





